* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border: 1px solid red;
}
.flex {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
}
a {
  text-decoration: none;
  color: slateblue;
}
h1 {
  text-align: center;
  padding: 10px;
}
